* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 239, 235);
}

.nav h1 { 
    font-size: 50px;
    font-weight: 400;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-left: 139px;
    padding-right: 160px;
    margin-top:  30px;
}

.nav-text {
    display: flex;
    gap: 60px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}

#shop-circle {
    width: 17px;
    height: 17px;
    background-color: rgb(94, 102, 77, 0.9);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 5px 0 0 17px;
    padding: 3px;

}

.box {
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    display: flex;
    width: 100%;
    margin: 20px auto 0 auto;               /* Centers the entire website design layout horizontally */
    padding: 0 40px;
    flex-wrap: nowrap;
    font-family: 'Inter', sans-serif;
}
.product-details {
    flex: 1;      
    max-width: 350px;      
  }                    

.box .inner1 {
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: rgb(94, 102, 77);
    margin-left: 0;
    margin-top: 1%;
}

.box .inner1 h6 {
    padding: 10px;
    letter-spacing: 2px;
    margin-top: 5px;
}


.box img {
    width: 50px;
    height: 40px;
    margin-left: -2%;
}

.inner2 {
    font-size: 102px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 10px;
    line-height: 0.9;
    letter-spacing: 2px;
} 

.divider {
    width: 55px;
    height: 2px;
    background-color: rgb(94, 102, 77);
    margin-top: 25px;
}

.box .inner3 {
    font-size: 14px;
    line-height: 1.4;
    color: #555555;
    margin: 20px 0 0 0;
} 

.box .inner4 {
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
    margin: 10px 0 0 0;
} 
.colors-section {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-top: 30px;
}
.colors-text {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    padding: 5px 0 0 0;
    margin-left: 0;
}
.color-box {
    display: flex;
    gap: 10px;
    margin-left: 30px;
} 

.colors-section .color1 {
    width: 25px;
    height: 25px;
    background-color: rgb(94, 102, 77);
    border-radius: 50%;
}


.colors-section .color2 {
    width: 25px;
    height: 25px;
    background-color: #e3ded5;
    border-radius: 50%;
}

.colors-section .color3 {
    width: 25px;
    height: 25px;
    background-color: #dba3a3;
    border-radius: 50%;
}

.details-section {
    width: 100%;
    display: flex;
    margin: 30px 0 0 0;
}

.details-section .minus-icon {
    margin-left: 30px;
}

.fabric {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 5%;
}
.fabric-section {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.fabric-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 30px;

    border-right: 1px solid #d3cdc3;
}

.fabric-item:last-child {
    border-right: none; 
  }

.fabric-section .fabric-circle {
    width: 40px;
    height: 40px;
    background-color: #eaeae1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.my-custom-icon {
    color: #727d66;
    font-size: 24px;
}

.fabric-text {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    line-height: 1.3;
    margin: 0;
}

.fabric-circle img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
}
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
.gallery-image {
    display: flex;                 
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.center-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    margin-top: 0;
}
.large-picture {
    width: 600px;
    height: 530px;
    background-image: url('https://images.unsplash.com/photo-1484186139897-d5fc6b908812?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.large-pic-upbox {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 50%;
}

.rating-box {
    display: flex;
    align-items: center;
    width: 185px;
    height: 45px;
    justify-content: center;
    gap: 9px;
    background-color: rgb(232, 231, 230);
    border-radius: 20px;
}

.rating-icon {
    font-size: 12px;
}

.cart-icon {
    font-size: 20px;
    color: white;
}

.cart-text {
    color: white;
}

.dollar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: rgb(244, 242, 240);
    border-radius: 13px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}

.rating-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
}
.star-section {
    display: flex;
    gap: 5px;
}

.add-to-bag {
    width: 130px;
    height: 130px;
    background-color: rgb(94, 102, 78);
    border-radius: 50%;
    background-position: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    margin-left: 74%;
}

.side-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.side-label-container .vertical-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #1a1a1a;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}

.vertical-line {
    width: 2px;
    height: 60px;
    background-color: #555f4d; 
}

.small-image-section {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
}

.small-image1 {
    width: 100px;
    height: 110px;
    background-image: url('https://images.unsplash.com/photo-1484186139897-d5fc6b908812?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.small-image2 {
    width: 100px;
    height: 110px;
    background-image: url('https://media.landmarkshops.in/cdn-cgi/image/h=400,w=400,q=85,fit=cover/homecentre/1000015552680-1000015552679_06-2100.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(247, 242, 237, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.small-image3 {
    width: 100px;
    height: 110px;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(247, 242, 237, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.small-image4 {
    width: 100px;
    height: 110px;
    background-image: url('https://img.freepik.com/free-photo/dried-fluffy-cotton-flower-branch-beige-background_53876-153408.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(247, 242, 237, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.trust-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    height: 80px;
    gap: 30px;
    align-items: center;
    background-color: #eae7e1;
    border-radius: 20px;
    padding: 24px 50px;
    margin: 10px 70px 0 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.trust-box1 {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: center;
}

.trust-box2 {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: center;
}

.icon1 {
    font-size: 40px;
    color: #727d66;
    font-weight: 100;
}

.icon2 {
    font-size: 30px;
    color: #727d66;
}

.icon3 {
    font-size: 30px;
    color: #727d66;
}

.trust-box img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; 
}

.trust-box1-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.box-main-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #1a1a1a;
}

.box-main-text2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #1a1a1a;
}

.box-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #666666;
    margin-top: 2px;
}

.trust-divider {
    width: 1px;
    height: 35px;
    background-color: #d3cdc3;
}